:root
{
    /*===== --p -> palette =====*/
    --p-background-op1:rgba(44, 54, 57, 0.1);
    --p-background-op2:rgba(44, 54, 57, 0.2);
    --p-background-op3:rgba(44, 54, 57, 0.3);
    --p-background-op4:rgba(44, 54, 57, 0.4);
    --p-background-op5:rgba(44, 54, 57, 0.5);
    --p-background-op6:rgba(44, 54, 57, 0.6);
    --p-background-op7:rgba(44, 54, 57, 0.7);
    --p-background-op8:rgba(44, 54, 57, 0.8);
    --p-background-op9:rgba(44, 54, 57, 0.9);
    --p-background:#2c3639;

    --p-disabled-op1:rgba(47, 78, 79, 0.1);
    --p-disabled-op2:rgba(47, 78, 79, 0.2);
    --p-disabled-op3:rgba(47, 78, 79, 0.3);
    --p-disabled-op4:rgba(47, 78, 79, 0.4);
    --p-disabled-op5:rgba(47, 78, 79, 0.5);
    --p-disabled-op6:rgba(47, 78, 79, 0.6);
    --p-disabled-op7:rgba(47, 78, 79, 0.7);
    --p-disabled-op8:rgba(47, 78, 79, 0.8);
    --p-disabled-op9:rgba(47, 78, 79, 0.9);
    --p-disabled:#2f4e4f;

    --p-primary-buttons-op1:rgba(162, 123, 92, 0.1);
    --p-primary-buttons-op2:rgba(162, 123, 92, 0.2);
    --p-primary-buttons-op3:rgba(162, 123, 92, 0.3);
    --p-primary-buttons-op4:rgba(162, 123, 92, 0.4);
    --p-primary-buttons-op5:rgba(162, 123, 92, 0.5);
    --p-primary-buttons-op6:rgba(162, 123, 92, 0.6);
    --p-primary-buttons-op7:rgba(162, 123, 92, 0.7);
    --p-primary-buttons-op8:rgba(162, 123, 92, 0.8);
    --p-primary-buttons-op9:rgba(162, 123, 92, 0.9);
    --p-primary-buttons:#a27b5c;
    
    --p-text-op1:rgba(220, 215, 201, 0.1);
    --p-text-op2:rgba(220, 215, 201, 0.2);
    --p-text-op3:rgba(220, 215, 201, 0.3);
    --p-text-op4:rgba(220, 215, 201, 0.4);
    --p-text-op5:rgba(220, 215, 201, 0.5);
    --p-text-op6:rgba(220, 215, 201, 0.6);
    --p-text-op7:rgba(220, 215, 201, 0.7);
    --p-text-op8:rgba(220, 215, 201, 0.8);
    --p-text-op9:rgba(220, 215, 201, 0.9);
    --p-text:#dcd7c9;
    
    --p-border-op1:rgba(211, 201, 198, 0.1);
    --p-border-op2:rgba(211, 201, 198, 0.2);
    --p-border-op3:rgba(211, 201, 198, 0.3);
    --p-border-op4:rgba(211, 201, 198, 0.4);
    --p-border-op5:rgba(211, 201, 198, 0.5);
    --p-border-op6:rgba(211, 201, 198, 0.6);
    --p-border-op7:rgba(211, 201, 198, 0.7);
    --p-border-op8:rgba(211, 201, 198, 0.8);
    --p-border-op9:rgba(211, 201, 198, 0.9);
    --p-border:#d3c9c6;
    
    --p-focus-op1:rgba(161, 189, 216, 0.1);
    --p-focus-op2:rgba(161, 189, 216, 0.2);
    --p-focus-op3:rgba(161, 189, 216, 0.3);
    --p-focus-op4:rgba(161, 189, 216, 0.4);
    --p-focus-op5:rgba(161, 189, 216, 0.5);
    --p-focus-op6:rgba(161, 189, 216, 0.6);
    --p-focus-op7:rgba(161, 189, 216, 0.7);
    --p-focus-op8:rgba(161, 189, 216, 0.8);
    --p-focus-op9:rgba(161, 189, 216, 0.9);
    --p-focus:#a1bdd8;
    
    --p-error-op1:rgba(216, 161, 161, 0.1);
    --p-error-op2:rgba(216, 161, 161, 0.2);
    --p-error-op3:rgba(216, 161, 161, 0.3);
    --p-error-op4:rgba(216, 161, 161, 0.4);
    --p-error-op5:rgba(216, 161, 161, 0.5);
    --p-error-op6:rgba(216, 161, 161, 0.6);
    --p-error-op7:rgba(216, 161, 161, 0.7);
    --p-error-op8:rgba(216, 161, 161, 0.8);
    --p-error-op9:rgba(216, 161, 161, 0.9);
    --p-error:#d8a1a1;
    
    --p-valid-op1:rgba(162, 216, 161, 0.1);
    --p-valid-op2:rgba(162, 216, 161, 0.2);
    --p-valid-op3:rgba(162, 216, 161, 0.3);
    --p-valid-op4:rgba(162, 216, 161, 0.4);
    --p-valid-op5:rgba(162, 216, 161, 0.5);
    --p-valid-op6:rgba(162, 216, 161, 0.6);
    --p-valid-op7:rgba(162, 216, 161, 0.7);
    --p-valid-op8:rgba(162, 216, 161, 0.8);
    --p-valid-op9:rgba(162, 216, 161, 0.9);
    --p-valid:#a2d8a1;

    --icon-white:#dcd7c9;
    --icon-black:#2c3639;
    /*==========================*/

    /*===== --f -> font ======*/
    --f-2extra-small-size:0.3em;
    --f-extra-small-size:0.4em;
    --f-small-size:0.67em;
    --f-normal-size:1em;

    --f-family: 'Poppins', sans-serif;
    /*==========================*/

}

body
{
    font-family: var(--f-family);
    color: var(--p-text);
}



/*=============== CUSTOM TAGS =================*/
/*INPUT TAGS*/
/*container*/
[data-input-tag="input-text"],
[data-input-tag="input-text-img"]
{
    position:relative;
    display: flex;
    width: 20vw;
    height: 3.334vh;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

[data-input-tag="input-text-helper"],
[data-input-tag="input-text-img-helper"]
{
    position:relative;
    display: flex;
    width: 20vw;
    height: 10vh;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

/*first children*/
[data-input-tag="input-text"] > div:first-of-type,
[data-input-tag="input-text-img"] > div:first-of-type,
[data-input-tag="input-text-helper"] > div:first-of-type,
[data-input-tag="input-text-img-helper"] > div:first-of-type
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

[data-input-tag="input-text-helper"] > div:first-of-type,
[data-input-tag="input-text-img-helper"] > div:first-of-type
{
    height: 33.34% !important;
}

/*last children*/
[data-input-tag="input-text-helper"] > div:last-of-type,
[data-input-tag="input-text-img-helper"] > div:last-of-type
{
    overflow: hidden;
    width: 100%;
    height: 66.66% !important;
    line-height: var(--f-normal-size);
}

/*first-div input*/
[data-input-tag="input-text"] > div:first-of-type > input:first-of-type,
[data-input-tag="input-text-img"] > div:first-of-type > input:first-of-type,
[data-input-tag="input-text-helper"] > div:first-of-type > input:first-of-type,
[data-input-tag="input-text-img-helper"] > div:first-of-type > input:first-of-type
{
    position: relative;
    width: calc(100% - 2px - 10%);
    height: calc(100% - 2px);
    padding: 0;
    line-height: 1.5;
    border: 1px solid var(--p-text-op5);
    background-color: var(--p-background);
    color: var(--p-text);
    border-radius: 8px;
    outline: 0;
    -webkit-transition: border-color .25s linear;
    -moz-transition: border-color .25s linear;
    -o-transition: border-color .25s linear;
    transition: border-color .25s linear;
    padding: 0% 5% 0% 5%;
}

[data-input-tag="input-text-img"] > div:first-of-type > input:first-of-type,
[data-input-tag="input-text-img-helper"] > div:first-of-type > input:first-of-type
{
    width: calc(100% - 2px - 17.5%);
    padding: 0% 5% 0% 12.5% !important;
}

/*first-div img*/
[data-input-tag="input-text-img"] > div:first-of-type > img:first-of-type,
[data-input-tag="input-text-img-helper"] > div:first-of-type > img:first-of-type
{
    position: absolute;
    top: 0.3334vh;
    left: 0.5vw;
    width: 2vw; /*15%*/
    height: 2.6672vh; /*80%*/
}

/*first-child label*/
[data-input-tag="input-text"] > div:first-of-type > label:first-of-type,
[data-input-tag="input-text-img"] > div:first-of-type > label:first-of-type,
[data-input-tag="input-text-helper"] > div:first-of-type > label:first-of-type,
[data-input-tag="input-text-img-helper"] > div:first-of-type > label:first-of-type
{
    position: absolute;
    pointer-events: none;
    color: var(--p-text);
    top: calc(1.667vh - (var(--f-normal-size) / 2));
    left: 2.5vw;
    width: 3vw;
    opacity: 1;
    float: left;
    text-align: left;
    --f-family: 'Poppins', sans-serif;
    font-size: var(--f-normal-size);
}

[data-input-tag="input-text"] > div:first-of-type > label:first-of-type,
[data-input-tag="input-text-helper"] > div:first-of-type > label:first-of-type
{
    left: 1vw;
}

/*last-child p*/
[data-input-tag="input-text-helper"] > div:last-of-type > p:first-of-type,
[data-input-tag="input-text-img-helper"] > div:last-of-type > p:first-of-type
{
    width: 100%;
    height: 100%;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/*container* /
[data-input-tag="input-text"]
{
    position:relative;
    display: flex;
    width: 20vw;
    height: 4.5vh;
    overflow: hidden;
    align-items: center;
}
[data-input-tag="input-text-img"]
{
    position:relative;
    display: flex;
    width: 20vw;
    height: 4.5vh;
    overflow: hidden;
    align-items: center;
}

[data-input-tag="input-text-helper"]
{
    position:relative;
    display: flex;
    width: 20vw;
    min-height: 5vh;
    max-height: 10vh;
    overflow: hidden;
    justify-content: flex-start;
    flex-direction: column;
}

[data-input-tag="input-text-img-helper"]
{
    position:relative;
    display: flex;
    width: 20vw;
    min-height: 5vh;
    max-height: 10vh;
    overflow: hidden;
    justify-content: flex-start;
    flex-direction: column;
}


/*input* /
[data-input-tag="input-text"] input
{
    position: relative;
    display: flex;
    width: calc(100% - 1.5rem - 6px);
    height: calc(100% - 1.35rem - 4px);
    line-height: 1.5;
    padding: 0.675rem 0.75rem 0.675rem 0.75rem;
    border: 1px solid var(--p-text-op5);
    background-color: var(--p-background);
    color: var(--p-text);
    border-radius: 8px;
    outline: 1px solid var(--p-border-op4);
    -webkit-transition: outline-color .25s linear;
    -moz-transition: outline-color .25s linear;
    -o-transition: outline-color .25s linear;
    transition: outline-color .25s linear;
    margin-left: 1px;
    margin-right: 1px;
}

[data-input-tag="input-text-img"] input
{
    position:relative;
    display:flex;
    width: calc(100% - 1.5rem - 6px);
    height: calc(100% - 1.35rem - 4px);
    line-height: 1.5;
    padding: .675rem .75rem .675rem 2.75rem;
    border: 1px solid var(--p-text-op5);
    background-color:  var(--p-background);
    color: var(--p-text);
    border-radius:8px;
    outline: 1px solid var(--p-border-op4);
    -webkit-transition: outline-color .25s linear;
        -moz-transition: outline-color .25s linear;
            -o-transition: outline-color .25s linear;
                transition: outline-color .25s linear;
    margin-left: 1px;
    margin-right: 1px;
}

[data-input-tag="input-text-helper"] input
{
    position: relative;
    display: flex;
    width: calc(100% - 1.5rem - 6px);
    height: calc(100% - 1.35rem);
    line-height: 1.5;
    padding: 0.675rem 0.75rem 0.675rem 0.75rem;
    border: 1px solid var(--p-text-op5);
    background-color: var(--p-background);
    color: var(--p-text);
    border-radius: 8px;
    outline: 1px solid var(--p-border-op4);
    -webkit-transition: outline-color .25s linear;
    -moz-transition: outline-color .25s linear;
    -o-transition: outline-color .25s linear;
    transition: outline-color .25s linear;
    margin-left: 1px;
    margin-right: 1px;
}

[data-input-tag="input-text-img-helper"] input
{
    position:relative;
    display:flex;
    width: calc(100% - 1.5rem - 6px);
    height: calc(100% - 1.35rem);
    line-height: 1.5;
    padding: .675rem .75rem .675rem 2.75rem;
    border: 1px solid var(--p-text-op5);
    background-color:  var(--p-background);
    color: var(--p-text);
    border-radius:8px;
    outline: 1px solid var(--p-border-op4);
    -webkit-transition: outline-color .25s linear;
        -moz-transition: outline-color .25s linear;
            -o-transition: outline-color .25s linear;
                transition: outline-color .25s linear;
    margin-left: 1px;
    margin-right: 1px;
}

/*label* /
[data-input-tag="input-text"] label
{
    position:absolute;
    pointer-events:none;
    color: var(--p-text);
    left: calc(2px + .75rem);
    top: calc(70% - var(--f-normal-size));
    opacity:1;
    float:left;
    text-align:left;
    --f-family: 'Poppins', sans-serif;
    -webkit-transition: .25s;
        -moz-transition: .25s;
            -o-transition: .25s;
                transition: .25s;
}

[data-input-tag="input-text-img"] label
{
    position:absolute;
    pointer-events:none;
    color: var(--p-text);
    left: calc(2px + 2.75rem);
    top: calc(70% - var(--f-normal-size));
    opacity:1;
    float:left;
    text-align:left;
    --f-family: 'Poppins', sans-serif;
    -webkit-transition: .25s;
        -moz-transition: .25s;
            -o-transition: .25s;
                transition: .25s;
}

[data-input-tag="input-text-helper"] label
{
    position:absolute;
    pointer-events:none;
    color: var(--p-text);
    left: calc(2px + .75rem);
    top: calc(35% - var(--f-normal-size));
    opacity:1;
    float:left;
    text-align:left;
    --f-family: 'Poppins', sans-serif;
    -webkit-transition: .25s;
        -moz-transition: .25s;
            -o-transition: .25s;
                transition: .25s;
}

[data-input-tag="input-text-img-helper"] label
{
    position:absolute;
    pointer-events:none;
    color: var(--p-text);
    left: calc(2px + 2.75rem);
    top: calc(35% - var(--f-normal-size));
    opacity:1;
    float:left;
    text-align:left;
    --f-family: 'Poppins', sans-serif;
    -webkit-transition: .25s;
        -moz-transition: .25s;
            -o-transition: .25s;
                transition: .25s;
}

/*img* /
[data-input-tag="input-text"] img,
[data-input-tag="input-text-helper"] img
{
    display: none !important;
}

[data-input-tag="input-text-img"] img
{
    position:absolute;
    height: 75%;
    top: 10%;
    width: 1.5rem;
    left: .75rem;
    fill: white;
}

[data-input-tag="input-text-img-helper"] img
{
    position: absolute;
    height: 38.28%;
    width: 1.5rem;
    left: 0.75rem;
    fill: white;
    top: 5%;
}

/*helper* /
[data-input-tag="input-text-helper"] div,
[data-input-tag="input-text-img-helper"] div
{
    display: flex;
    width: 100%;
    height: calc(4.07vh);
    margin-top: 1px;
}

[data-input-tag="input-text-helper"] p,
[data-input-tag="input-text-img-helper"] p
{
    margin: 0.35rem 0 0 0.75rem;
    max-width: calc(100% - 1.1rem);
    max-height: 4vh;
    min-height: calc(0.93vh);
}

/*events* /

/*hover* /
[data-input-tag="input-text"] input:hover ~ label, 
[data-input-tag="input-text"] input:valid ~ label,
[data-input-tag="input-text"] input:focus ~ label,
[data-input-tag="input-text"] input:placeholder-shown ~ label,
[data-input-tag="input-text-img"] input:hover ~ label, 
[data-input-tag="input-text-img"] input:valid ~ label,
[data-input-tag="input-text-img"] input:focus ~ label,
[data-input-tag="input-text-img"] input:placeholder-shown ~ label,
[data-input-tag="input-text-helper"] input:hover ~ label, 
[data-input-tag="input-text-helper"] input:valid ~ label,
[data-input-tag="input-text-helper"] input:focus ~ label,
[data-input-tag="input-text-helper"] input:placeholder-shown ~ label,
[data-input-tag="input-text-img-helper"] input:hover ~ label, 
[data-input-tag="input-text-img-helper"] input:valid ~ label,
[data-input-tag="input-text-img-helper"] input:focus ~ label,
[data-input-tag="input-text-img-helper"] input:placeholder-shown ~ label
{
    font-size: var(--f-small-size);
    top:2.75%;
    opacity:0.85;
}

[data-input-tag="input-text"] input:focus,
[data-input-tag="input-text"] input:hover,
[data-input-tag="input-text-img"] input:focus,
[data-input-tag="input-text-img"] input:hover,
[data-input-tag="input-text-helper"] input:focus,
[data-input-tag="input-text-helper"] input:hover,
[data-input-tag="input-text-img-helper"] input:focus,
[data-input-tag="input-text-img-helper"] input:hover
{
    outline: 1px solid var(--p-focus) !important;
}

[data-input-tag="input-text"] input:focus ~ label,
[data-input-tag="input-text"] input:hover ~ label,
[data-input-tag="input-text-img"] input:focus ~ label,
[data-input-tag="input-text-img"] input:hover ~ label,
[data-input-tag="input-text-helper"] input:focus ~ label,
[data-input-tag="input-text-helper"] input:hover ~ label,
[data-input-tag="input-text-img-helper"] input:focus ~ label,
[data-input-tag="input-text-img-helper"] input:hover ~ label
{
    color: var(--p-focus) !important;
}

/*validity* /
[data-input-tag="input-text"] input:valid,
[data-input-tag="input-text-img"] input:valid,
[data-input-tag="input-text-helper"] input:valid,
[data-input-tag="input-text-img-helper"] input:valid
{
    outline: 1px solid var(--p-border);
}

[data-input-validity-status="valid"] input
{
    outline: 1px solid var(--p-valid);
}

[data-input-validity-status="valid"] input ~ label
{
    color: var(--p-valid) !important;
}

[data-input-validity-status="invalid"] input
{
    outline: 1px solid var(--p-error);
}

[data-input-validity-status="invalid"] input ~ label
{
    color: var(--p-error) !important;
}
/*INPUT TAGS END*/

